# Common folders
.venv/ 
.vscode/

# Dataset related
Dataset/
debug_data/
Test Recordings/
Custom_Dataset/

# Python files
test.py

# common python ignores
*.pyc
__pycache__/
.pytest_cache/

# Custom Dataset testing items
Python_Live/Dataset
Python_Live/Models
Python_Live/MP_DATA

# Env file
.env